* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #264653;
}

.form {
  border: 2px solid #2A9D8F;
  border-radius: 6px;
  padding: 40px;

  .form__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    cursor: pointer;

    .title__text {
      font-size: 3rem;
      color: #fff;
      position: relative;
      padding-bottom: 10px;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(42,157,143,1) 50%, rgba(255,255,255,0) 100%);
      }
    }
  }

  .form__input {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
    height: 130px;

    .input__label {
      font-size: 20px;
      color: #fff;
      margin-bottom: 10px;
    }

    .input__text {
      width: 400px;
      height: 50px;
      outline: none;
      padding-left: 10px;
      color: #fff;
      font-size: 1.6rem;
      transition: 0.2s ease;
      background: transparent;
      border: none;
      border-bottom: 1px solid #E9C46A;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #E9C46A;
        font-size: 1.5rem;
      }
    }

    .input__error {
      margin-top: 10px;
      font-size: 1.6rem;
      padding-right: 14px;
      color: #E76F51;
      text-align: right;
      width: 100%;
    }

    .input__success {
      border-bottom: 1px solid #0de378;
    }

    .input__fail {
      border-bottom: 1px solid #e11212;
    }
  }

  .btn {
    text-align: center;
    margin-top: 40px;

    &__self {
      padding: 14px 40px;
      border-radius: 5px;
      border: none;
      font-size: 20px;
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        background-color: #E9C46A;
      }
    }
  }
}